.FileUpload{



  .field-container{   
  background-color: #fcf9f9;
  border-radius: 3vh;
  height: 10vh;
  margin: 1rem;
  box-shadow: 0.15rem 0.15rem 4px rgb(194, 193, 193);
 
  }
  .box-item{
    margin: 1rem ; 
  }

  .text-field-item{
    margin: 1rem ;
  }


}