body {
  color: #1f1f1f;
  background-color: #f3f4f9;
  font-weight: bold;
}

.Intro-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .Intro-logo {
    animation: Intro-logo-spin infinite 20s linear;
  }
}

.Intro-header {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 12, 12);
}

.Intro-link {
  color: #02520f;
}

.grid-container {
  display: grid;
  grid-template-columns: 270px auto;
}

@keyframes Intro-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');