body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Noto Sans', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@300&family=Noto+Sans:wght@300&family=Roboto&display=swap');