.Navbar {
  .navbar-container{
    top: 0px;
    width: 100%;
    height: 100px;
    position: fixed;
  }

  .background {
    transition: all .5s cubic-bezier(.04, .04, .12, .96);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 96px;
    opacity: 0;
    background: #fff;
    box-shadow: none;
  }

  .shadow {
    opacity: 1;
    box-shadow: 0 15px 40px 0 rgb(0 0 0 / 8%);
  }

  .dark-background {
    opacity: 1;
    background: transparent;
  }
  
  .hidden {
    height: 0;
    box-shadow: none;
  }













}