.HomePage {
  .header {
    color: #ffffff;
  }

  .header-background {
    height: 30rem;
    background-image: url('../static/header-background.webp');
    background-size: cover;
  }

  .header-title {
    position: relative;
    margin: 3rem;
    font-size: 1.7rem;
    font-weight: 700;
  }
}
