.coreValue {
  // .coreValue {
    float: left;
    width: 15.5%;
    height: 150px;
    // padding: 0.5%;
    // padding: auto;
    margin: 3% 0.5% 0;
    // margin: auto;
    // margin-top: 3%;
    // overflow: auto;
    overflow: hidden;
    font-size: 5rem;
    box-sizing: border-box;
  // }

  .core-value-title {
    padding: 1px;
    font-size: 1rem;
  }

  .core-value-body {
  
    font-size: 1.1rem;
    padding: 1px;
    margin: 2px;
    color: green;
  }
}