.coreValue {
  float: left;
  width: 25%;
  height: 140px;
  margin: 3% 4% 0;
  overflow: hidden;
  font-size: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .core-value-title {
    padding: 1px;
    font-size: 1rem;
  }

  .core-value-body {
    font-size: 1.3rem;
    padding: 1px;
    margin: 2px;
    margin-bottom: 0px;
    color: green;
  }
}