.Recommendation {

  // .container {
  //   display: grid;
  //   grid-template-columns: 3fr 2fr;
  // }

  .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 0 5px;
  }

  .item-title {
    grid-column-start: 1;
    grid-column-end: 7; 
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  .item-time {
    grid-column-start: 7; 
    grid-column-end: 11;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
  }

  .ms {
    width: 55px;
  }
}