.WebPerformance {
  text-align: center;
  // width: 95%;
  width: 100%;
  height: 89vh;
  margin: 0 auto;
  // 추가
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .api-result {
    display: flex;
    height: 100%;
  }

  .api-graph {
    text-align: center;
  }

  // .api-result {

  // }

  .api-detail {
    // display: flex;
  }

  .represent {
    // float: left;
    text-align: center;
    display: flex;
  }

  .coreValue {
    float: left;
    width: 15%;
    // height: 100px;
    height: 150px;
    border: 1px solid #8A8A8A;
    background: #FCF9F9;
    border-radius: 18px;
    // padding: 0.5%;
    padding: auto;
    // margin: 1%;
    margin: auto;
    margin-top: 3%;
    // overflow: auto;
    overflow: hidden;
    font-size: 5rem;
    box-sizing: border-box;
  }

  .coreValueTitle {
    padding: 1px;
    font-size: 1.3rem;
  }

  .coreValueBody {
  
    font-size: 2rem;
    padding: 1px;
    margin: 2px;
    color: green;
  }

  .description {
    display: flex;

    text-align: left;
    width: 95%;
    // height: 100%;
    padding: auto;
    border: 1px solid #8A8A8A;
    background: #FCF9F9;
    border-radius: 18px;
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    font-size: 1.2rem;
  }

  .container-btn-result {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .container-tosolution-result {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
  }

  .tab {
    height: 50px;
    border-bottom: 1px solid gray;
  }

  .container-desktop-mobile {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .btn-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid gray;
    padding-right: 5px;
    padding-left: 5px;
  }

  .btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
  }

  .container-search-tosolution-result {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%
  }

  .btn-toresult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    z-index: 1;
  }

  .table-solutions {
    width: 78%;
    position: absolute;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .badge {
    height: 90%;
    pointer-events: none;
    box-shadow: inset 0.1rem 0.1rem 4px rgb(194, 193, 193);
  }

  .searchbar {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
  }

  .searchbar-input {
    width: 100%;
    padding: 5px;
  }

  .searchbar-btn {
    width: 60px;
    margin-left: 5px;
  }

  

  // .no-hover {
  //   point
  // }
}