.WebPerformance {
  text-align: center;
  // width: 95%;
  width: 100%;
  height: 89vh;
  margin: 0 auto;
  // 추가
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .api-result {
    display: flex;
    flex-direction: row;
    height: 100%;
    // position: relative;
  }

  .api-graph {
    display: flex;
    flex-direction: column;
    text-align: center;
    // position: absolute;
    width: 35%;
    margin: 0 auto;
    // position: relative;
  }


  .represent {
    // float: left;
    text-align: center;
    display: flex;
  }

  .final-image {
    // position: absolute;
    // top: 300px;
    // top: 100px;
    height: 27vh;
    // width: 25vh;
    align-content: center;
    // left: 25%;
    margin: 0px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-hover {
    pointer-events: none;
  }

  .container-btn-result {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .container-tosolution-result {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
  }

  // .tab {
  //   height: 50px;
  //   border-bottom: 1px solid gray;
  // }

  .container-desktop-mobile {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .btn-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid #d0d0d0;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 0;
    border-top-left-radius: 2rem;
  }
  
  .btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    border-radius: 0;
    border-bottom-left-radius: 2rem;
  }

  .btn-desktop:hover {
    background-color: #F3F4F9;
  }

  .btn-mobile:hover {
    background-color: #F3F4F9;
  }

  .container-search-tosolution-result {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 100%;
  }

  .btn-toresult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    z-index: 1;
  }

  .table-solutions {
    width: 78%;
    position: absolute;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .solutions-badge {
    height: 90%;
    pointer-events: none;
    box-shadow:  0.1rem 0.1rem 4px rgb(194, 193, 193);
    &:hover {
      cursor: default;
      // transform: translateY(-0.3rem);
      transform:none;
    }
  }

  .searchbar {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
  }

  .searchbar-input {
    width: 100%;
  }

  .searchbar-btn {
    width: 60px;
    margin-left: 5px;
  }
  .header-area {
    display: flex;
    position: absolute;
    top: 15px;
    left: 285px;
    

    .tag-img {
      height: 16px;
    }

    .spacer {
      width: 20px;
    }

    .tag-area {
      line-height: 1rem;
      margin-left: 0.5rem;
      font-weight: bold;
      color: black;
      font-size: large;
      cursor: pointer;
    }
    .tag-selected {
      color: #009FF9;
      opacity: 0.83;
    }
    
    .tag-area:last-child {
      margin-left: 10px;
    }
    
  }

  .CompareWithOtherPages {

    width: 100%;
    height: 89vh;
    position: relative;
    
    .center {
      position: absolute;
      top: 210px;
      left: 420px;
    }
  
    .left-top {
      position: absolute;
      left: 100px;
      top: 60px;
    }
  
    .left-bottom {
      position: absolute;
      left: 100px;
      bottom: 60px;
    }
  
    .right-top {
      position: absolute;
      right: 100px;
      top: 60px;
    }
  
    .right-bottom {
      position: absolute;
      right: 100px;
      bottom: 60px;
    }
  
  }

}