.StressTest {
  .stress-test-wrapper {
    display: flex;
    padding: 50px 20px;
    
  }
  .left-side-wrapper {
    width: 65%;
    height: 100%;
  }
  .right-side-wrapper {
    width: 30%;
    height: 100%;
  }
  .tags-switch-area {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  



}