.StressTestResult {
  .scenarioTestTitle {
    margin: 1rem;
    padding: 1vh 1.5vh;
  }

  .badgeContainer {
    margin: 2rem;
    display: flex;
  }

  strong {
    margin-left: 10px;
  }

  .align-left{
    text-align: left;
  }

}