.StressTest {
  .stress-test-wrapper {
    display: flex;
    padding: 50px 20px;
    
  }
  .method-url-area {
    display:flex;
  }
  .left-side-wrapper {
    width: 65%;
    height: 100%;
  }
  .right-side-wrapper {
    width: 30%;
    height: 100%;
  }
  .tags-switch-area {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    width: calc(41vw + 100px)
  }
  .footer-area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

  }
  
}