.Tags {
  .tags {
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(202, 202, 202); 
    width: auto;
    padding: 7px 12px;
    border-radius: 20px; 
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s


  }
  .tags:hover {
    background: rgb(223, 223, 223);
  }

  .tags:last-child {
    margin-left: 10px;
  }

  .tag-activated {
    background: #007105;
    color: white;
  }
  .tag-activated:hover {
    background: #006105;
  }


}