.MainPage {

  .test1 {
    height:400px;
    background-color: aqua;
  }
  .test2 {
    height:400px;
    background-color: bisque;
  }
  .test3 {
    height: 400px;
    background-color: blue;
  }
  .test4 {
    height: 400px;
    background-color: blueviolet;
  }
}